/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: 1fr;
  background-image: var(--theme-dark);
  background-position: center;
  background-attachment: fixed;
  padding-inline: 10px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: -20px;
}

.header__decor-rec {
  position: absolute;
  top: 10px;
  right: 20px;
}

.header__decor-rec::before {
  content: "REC";
  position: absolute;
  top: 1px;
  right: 17px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  color: var(--accent-color);
}

.header__decor-rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  right: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  padding-block-start: 4.7rem;
}

.header__theme-menu-item {
  padding-inline: 10px;
}

.header__theme-menu-button {
  font-family: var(--main-font-family), sans-serif;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: lowercase;
}

.header__title {
  display: block;
  padding-block-start: 4.375rem;
  padding-block-end: 3.125rem;
  line-height: 0.83em;
  font-family: var(--main-font-family), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  block-size: min-content;
  font-size: 18px;
  font-family: var(--main-font-family), sans-serif;
  font-weight: 700;
}

.title-decor {
  background-color: var(--accent-color);
}


/*main*/

.questions {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.question__1 {
  font-size: inherit;
  color: var(--accent-color);
  padding-block-start: 55px;
}

.subtitle {
  font-size: inherit;
  margin-block-start: 20px;
}

.answer-text {
  color: var(--answer-text-color);
  padding-block-start: 10px;
  line-height: 23.4px;
}
