/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: 1fr;
  background-image: var(--theme-dark);
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: 10px;
}

.header__decor-rec {
  position: absolute;
  top: 10px;
  right: 20px;
}

.header__decor-rec::before {
  content: "REC";
  position: absolute;
  top: 3px;
  right: 15px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  color: var(--accent-color);
}

.header__decor-rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  right: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
}

/*.decorated-zone::after{
  content: "";
  position: absolute;
  top: -5px;
  right: - 20px;
  display: inline-block;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  height: 25px;
  width: 25px;
} */

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  padding-block-start: 75px;
}

.header__theme-menu-item {
  
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: lowercase;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  font-size: 18px;
  font-family: var(--main-font-family), sans-serif;
  font-weight: 700;
}

.title-decor {
  background-color: var(--accent-color);
}
