/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: 1fr;
  background-image: var(--theme-dark);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: 10px;
}

.decorated-zone {
  position: absolute;
  width: 33px;
  height: 26px;
  align-self: end;
  top: 10px;
  right: 30px;
}

.decorated-zone::after{
  content: "";
  position: absolute;
  top: -5px;
  right: - 20px;
  display: inline-block;
  border-top: 2px solid red;
  border-right: 2px solid red;
  height: 25px;
  width: 25px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  padding-block-start: 75px;
}

.header__theme-menu-item {

}

.header__theme-menu-button {

}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text {
  font-size: 18px;
  font-family: 'IBM Plex mono';
  font-weight: 700;
}

.title-decor {
  background-color: var(--accent-color);
}
